*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Oswald', sans-serif;
}

nav{
    margin: 20px auto;
    text-align: center;
    max-width: 1440px;

}

nav a:hover{
    border-bottom: 2px solid #555;
    color: black;
}

nav a{
    font-size: 1.8rem;
    display: inline-block;
    font-family: 'Roboto';
    text-transform: uppercase;
    text-decoration: none;
    color: #555;
    padding: 10px;
    margin: 0 20px;

}

nav a.reservation{
    font-size: 2rem;
    border: 2px solid #555;
    padding: 10px 30px;
    letter-spacing: 1px;
}

nav a.reservation:hover{
    color: black;
}

header{
    background-image: url(img/header-img.png);
    height: 40vh;
    background-size: cover;

}

main{
    max-width: 1440px;
    margin: 5vh auto;
    font-size: 0;

}

main p.description{
    font-size: 2.2rem;
    text-align: center;
    margin: 0 30px 50px 30px;
    line-height: 180%;
}
main div.feature{
    display: inline-block;
    width: 33.33%;
}

main span.image{
    display: block;
    height: 200px;
    background-image: url(img/mat.jpg);
    background-position: center;
    margin: 20px 30px;

}
main span.image2{
    display: block;
    height: 200px;
    background-image: url(img/fiz.jpg);
    background-position: center;
    margin: 20px 30px;

}
main span.image3{
    display: block;
    height: 200px;
    background-image: url(img/ang.jpg);
    background-position: center;
    margin: 20px 30px;

}
footer{
    background-color: black;
    height: 5vh;
}

.media_icons {
    text-align: center;
}

footer a {
    text-decoration: none;
}

footer i {
    font-size: 30px;
    color: white;
    padding-right: 30px;
}

header h1{
    font-size: 6rem;
    text-transform: uppercase;
    color: white;
    text-align: center;
    line-height: 40vh;
    background-color: rgba(0,0,0,50%);
}