body {
    font-family: arial;
    background-image: url(img/chalkboard.jpg);
    background-repeat: no-repeat;
}

.wrapper{
    width: 100%;
    margin: 5% auto;
}

.single-price {
    background-color: black;
    width: 30%;
    float: left;
    margin-top: 2%;
    margin-right: 20px;
    margin-left: 40px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: 0.9s;
}

.price {
    width: 120px;
    height: 120px;
    border-radius: 50% ;
    border: 2px solid red;
    margin: 5% auto 0 auto;
    text-align: center;
}

.deals {
    margin-top: 10%;
}

.single-price h1 {
    font-size: 18px ;
    color: white;
    line-height: 3;
    text-transform: uppercase;
}

.price h2 {
    font-size: 38px;
    color: white;
}

.deals h4 {
    font-size: 14px;
    color: white;
    font-weight: normal;
    text-align: center;
    line-height: 1;
}

.single-price:hover {
    background-color: #da4357 ;
    color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
    transform: scale(1.1);
    z-index: 1;
    border-radius: 25px;
}

.single-price:hover .price {
    border-color: white;
}

.single-price a {
    text-decoration: none;
    background:#da4357 ;
    color: white;
    padding: 10px 60px;
    display: inline-block;
    margin: 10% auto;
    text-transform: uppercase;
    font-weight: bold;
}

.single-price:hover a {
    background-color: #da4357;
    color: white;
}